.list_center {
  text-align: -webkit-center;

  .card {
    width: 240px;
    margin-top: 10px;

    @media screen and (max-width: 768px) {
      width: 182px;
    }

    @media screen and (max-width: 414px) {
      width: 240px;
    }
  }

  .image {
    height: 120px;
  }
}

.breadcrumb {
  margin: 16px 0px;
  font-size: 20px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
